<% @platforms.each do |platform| %>
    <h3><a href='/platforms/<%= platform.slug %>' class='plain_link'>Name: <%= platform.name.capitalize %></h3>
    <p>Manufacturer: <%= platform.manufacturer %></p>
    <p>Number of Games: <%= platform.games.count %></p>
    <p>Number of Users: <%= platform.users.count %></p>
<% end %>