<style>
    .profile {
        visibility: hidden;
    }
</style>
<h1><%= @user.username.capitalize %></h1>
<%if @user == @current_user %>
    <p>
        <button><a href='/users/<%=@user.slug%>/edit'>Edit Profile</a></button>
        <button><a href='/games/new'>Add a New Game</a></button>
        <button><a href='/platforms/new'>Add a New Platform</a></button>
    </p>
<%elsif Helpers.is_logged_in?(session) %>
    <p>
        <button><a href='/games/new'>Add a New Game</a></button>
        <button><a href='/platforms/new'>Add a New Platform</a></button>
    </p>
<%else%>
    <p>Please log in to add a game or platform, or to edit this entry.</p>
<%end%>
<%if @user.games.count == 0%>
    <p>There are currently no games registered to this account.</p>
<%else%>
    <%@user.games.each do |game|%>
        <h2>Title: <%= game.title.capitalize %></h2>
        <h3>Platform: <%= game.platform.name.capitalize %></h3>
        <p>Release Date: <%= game.release_date %></p>
        <p>Developer: <%= game.developer %></p>
        <br>
    <%end%>
<%end%>