<form action='/games/<%= @game.slug %>' method='POST'>
    <h2>Edit the game <%= @game.title %> on <%= @game.platform %> below:
    <p>Title: <input id='title' type='text' name='game[title]' value='<%= @game.title %>' required></p>
    <p>Developer: <input id='developer' type='text' name='game[developer]' value='<%= @game.developer %>' required></p>
    <p>Release Date: <input id='release_date' type='text' name='game[release_date]' value='<%= @game.release_date %>' required></p>
    <br><br>

    <h3>Please choose or create a platform:</h3>
    <br>
    
    <h4>New Platform:</h4>
    <p>Name: <input id='name' type='text' name='platform[name]'></p>
    <p>Manufacturer: <input id='manufacturer' type='text' name='platform[manufacturer]'></p>
    <br>

    <h4>Choose an Existing Platform:</h4>
    <% @platforms.each do |platform| %>
        <input type='radio' id='<%= platform.id %>' name='platform[id]' value='<%= platform.id %>'>
        <label for='<%= platform.id %>'><%= platform.name.capitalize %></label><br>
    <% end %>
    <input id='submit' type='submit' name='submit' value='Save Changes'>
</form>