<% @games.each do |game| %>
    <% user_count = 0 %>
    <% @users.each{|u| if u.games.include?(game) then user_count += 1 end} %>
    <h3>Title: <%= game.title %></h3>
    <p>Developer: <%= game.developer %></p>
    <p>Release Date: <%= game.release_date %></p>
    <p>Platform: <%= game.platform.name %>
    <p>Number of Users: <%= user_count %></p> <br>
<% end %>