<h1><%= @game.title.capitalize %>:</h1>
<h2>Platform: <%= @game.platform.name.capitalize %></h2>
<h2>Developer: <%= @game.developer %></h2>
<% if Helpers.is_logged_in?(session) %>
    <button><a href='/games/<%= @game.slug %>/edit'>Edit Game</a></button>
    <button><a href='/games/<%= @game.slug %>/delete'>Delete Game</a></button>
<% end %>
<h2>Users with this game:</h2>
<% @game.users.each do |user| %>
    <h3><a href='/users/<%= user.slug %>' class='plain_link'><%= user.username.capitalize %></a></h3>
    <p>Number of games: <%= user.games.count %></p>
<% end %>